<div class="flexcol" style="max-height: 100%">
<div class="flexrow" style="flex: 0">
  <nav class="compendium-browser-tabs">
    <a class='item browser {{#ifeq type "items" }}active{{/ifeq}}' data-type="items" data-entity-type="Item">{{ localize "D35E.Items" }}</a>
    <a class='item browser {{#ifeq type "spells" }}active{{/ifeq}}' data-type="spells" data-entity-type="Item">{{ localize "D35E.Spells" }}</a>
    <a class='item browser {{#ifeq type "feats" }}active{{/ifeq}}' data-type="feats" data-entity-type="Item">{{ localize "D35E.FeatPlural" }}</a>
    <a class='item browser {{#ifeq type "enhancements" }}active{{/ifeq}}' data-type="enhancements" data-entity-type="Item">{{ localize "D35E.Enhancements" }}</a>
    <a class='item browser {{#ifeq type "buffs" }}active{{/ifeq}}' data-type="buffs" data-entity-type="Item">{{ localize "D35E.Buffs" }}</a>
    <a class='item browser {{#ifeq type "bestiary" }}active{{/ifeq}}' data-type="bestiary" data-entity-type="Actor">{{ localize "D35E.Bestiary" }}</a>
    <div class="loader-div flexcol">
      <div id="d35e-compendium-browser-loader" style="display: none" class="loader">
        <span id="d35e-compendium-browser-loader-bar" class="loader-bar" style="width:54.5945945945946%"></span>
        <span id="d35e-compendium-browser-loader-label" class="loader-label">Light Load (37)</span>
      </div>
    </div>
  </nav>
</div>
<div class="compendium-browser flexrow" data-type="{{type}}" style="height: calc(100% - 32px);">
  <header class="header">
    <div class="search">
      <i class="fas fa-search"></i>
      <input type="text" name="search" class="search-box" value="{{searchString}}" placeholder="Search" autocomplete="off" />
    </div>

    <div class="filter-container">
      {{#each filters as |filter|}}
      <div class="filter" data-path="{{filter.path}}">
        <h3 class="rollable">{{filter.label}}</h3>
        <div class="filter-content clexcol">
          {{#each filter.items as |i|}}
          <div class="flexrow" style="padding: 0 4px">
            <label class="checkbox" style="position: relative; flex: 0 20px">
              <input type="checkbox" class="stylized" name="{{i.key}}" {{#if i.checked}}checked{{/if}}/>
              <span class="checkmark"></span>
            </label>
            <label style="line-height: 22px; margin-left: 4px">{{i.name}}</label>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
    <div class="flexcol">
      <button class="refresh">{{localize "D35E.Refresh"}}</button>
    </div>
  </header>

  <div class="directory-container">
  {{> "systems/D35E/templates/apps/compendium-browser-list.html"}}
</div>/div>
</div>
